<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lenovo.mapper.ArchiveMapper">

    <!-- 归档插入 -->
    <insert id="insertMaintenanceBySelect">
        INSERT INTO uar_cycle_maintenance_history
        (
            id,
            operator_date,
            operator_name,
            confirmation_date,
            modified_by,
            modification_date,
            uar_cycle_start_date,
            uar_cycle_end_date,
            cmdb_id,
            uar_id,
            uar_name,
            create_time,
            create_by,
            update_time,
            update_by,
            app_uar_platform_status,
            access_review_scope,
            maintenance_id,
            archiver
        )
        SELECT
            id,
            operator_date,
            operator_name,
            confirmation_date,
            modified_by,
            modification_date,
            uar_cycle_start_date,
            uar_cycle_end_date,
            cmdb_id,
            uar_id,
            uar_name,
            create_time,
            create_by,
            update_time,
            update_by,
            app_uar_platform_status,
            access_review_scope,
            #{maintenanceId},
            #{archiver}
        FROM uar_cycle_maintenance;
    </insert>


    <insert id="insertReviewBySelect">
        INSERT INTO user_access_review_history
        (
            sequence_number,
            it_code_of_user,
            email,
            user_name,
            country,
            department,
            app_name,
            user_id,
            user_id_valid_to,
            authorization_technical_name,
            authorization_description,
            authorization_valid_to,
            access_label,
            first_line_manager,
            second_line_manager,
            it_code_of_bpo,
            bpo_review_decision,
            user_id_lock,
            access_review_decision,
            audit_trail,
            system_role,
            role_description,
            bpo_review_status,
            line_manager_review_status,
            line_managers_review_decision,
            final_review_decision,
            line_manager,
            bpo,
            user_coc_type,
            bpo_coc_type,
            role_valid_to,
            overall_send_status,
            current_round,
            bpo_email,
            line_manager_email,
            id,
            cmdb_id,
            uar_id,
            delete_flag,
            create_by,
            create_time,
            update_by,
            update_time,
            leit_system_id,
            uuid,
            app_bpo,
            app_bpo_email,
            backup_bpo,
            backup_bpo_email,
            backup_bpo_band_ed_flag,
            bpo_band_ed_flag,
            app_bpo_band_ed_flag,
            leit_system_name,
            final_review_time,
            line_manager_band_ed_flag,
            line_manager_review_itcode,
            line_manager_review_time,
            bpo_review_itcode,
            bpo_review_time,
            bpo_update_by,
            bpo_update_time,
            user_real_name,
            line_manager_level_code,
            dept,
            system_role_id,
            final_review_result_reason,
            exception_ticket_no,
            exception_result_decision,
            exception_reason,
            exception_adjusted_by,
            exception_adjusted_time,
            maintenance_id,
            archiver
        )
        SELECT
            sequence_number,
            it_code_of_user,
            email,
            user_name,
            country,
            department,
            app_name,
            user_id,
            user_id_valid_to,
            authorization_technical_name,
            authorization_description,
            authorization_valid_to,
            access_label,
            first_line_manager,
            second_line_manager,
            it_code_of_bpo,
            bpo_review_decision,
            user_id_lock,
            access_review_decision,
            audit_trail,
            system_role,
            role_description,
            bpo_review_status,
            line_manager_review_status,
            line_managers_review_decision,
            final_review_decision,
            line_manager,
            bpo,
            user_coc_type,
            bpo_coc_type,
            role_valid_to,
            overall_send_status,
            current_round,
            bpo_email,
            line_manager_email,
            id,
            cmdb_id,
            uar_id,
            delete_flag,
            create_by,
            create_time,
            update_by,
            update_time,
            leit_system_id,
            uuid,
            app_bpo,
            app_bpo_email,
            backup_bpo,
            backup_bpo_email,
            backup_bpo_band_ed_flag,
            bpo_band_ed_flag,
            app_bpo_band_ed_flag,
            leit_system_name,
            final_review_time,
            line_manager_band_ed_flag,
            line_manager_review_itcode,
            line_manager_review_time,
            bpo_review_itcode,
            bpo_review_time,
            bpo_update_by,
            bpo_update_time,
            user_real_name,
            line_manager_level_code,
            dept,
            system_role_id,
            final_review_result_reason,
            exception_ticket_no,
            exception_result_decision,
            exception_reason,
            exception_adjusted_by,
            exception_adjusted_time,
            #{maintenanceId},
            #{archiver}
        FROM user_access_review;
    </insert>


    <insert id="insertAlertBySelect">
        INSERT INTO user_access_review_alert_history
        (
            id,
            sequence_number,
            uuid,
            cmdb_id,
            uar_id,
            app_name,
            alert_type,
            remark,
            it_code_of_user,
            email,
            user_name,
            user_real_name,
            system_role,
            role_description,
            role_valid_to,
            country,
            department,
            user_id,
            user_id_valid_to,
            user_id_lock,
            access_label,
            line_manager_band_ed_flag,
            line_manager_level_code,
            dept,
            line_manager,
            line_manager_email,
            line_manager_review_status,
            line_managers_review_decision,
            it_code_of_bpo,
            bpo,
            bpo_email,
            user_coc_type,
            bpo_coc_type,
            bpo_review_status,
            bpo_review_decision,
            final_review_decision,
            final_review_time,
            line_manager_review_itcode,
            line_manager_review_time,
            bpo_review_itcode,
            bpo_review_time,
            bpo_update_by,
            bpo_update_time,
            app_bpo,
            app_bpo_email,
            backup_bpo,
            backup_bpo_email,
            backup_bpo_band_ed_flag,
            bpo_band_ed_flag,
            app_bpo_band_ed_flag,
            leit_system_name,
            leit_system_id,
            access_review_decision,
            first_line_manager,
            second_line_manager,
            audit_trail,
            authorization_technical_name,
            authorization_description,
            authorization_valid_to,
            overall_send_status,
            current_round,
            delete_flag,
            create_by,
            create_time,
            update_by,
            update_time,
            alert_handle_status,
            invalid_bpo,
            system_role_id,
            maintenance_id,
            archiver
        )
        SELECT
            id,
            sequence_number,
            uuid,
            cmdb_id,
            uar_id,
            app_name,
            alert_type,
            remark,
            it_code_of_user,
            email,
            user_name,
            user_real_name,
            system_role,
            role_description,
            role_valid_to,
            country,
            department,
            user_id,
            user_id_valid_to,
            user_id_lock,
            access_label,
            line_manager_band_ed_flag,
            line_manager_level_code,
            dept,
            line_manager,
            line_manager_email,
            line_manager_review_status,
            line_managers_review_decision,
            it_code_of_bpo,
            bpo,
            bpo_email,
            user_coc_type,
            bpo_coc_type,
            bpo_review_status,
            bpo_review_decision,
            final_review_decision,
            final_review_time,
            line_manager_review_itcode,
            line_manager_review_time,
            bpo_review_itcode,
            bpo_review_time,
            bpo_update_by,
            bpo_update_time,
            app_bpo,
            app_bpo_email,
            backup_bpo,
            backup_bpo_email,
            backup_bpo_band_ed_flag,
            bpo_band_ed_flag,
            app_bpo_band_ed_flag,
            leit_system_name,
            leit_system_id,
            access_review_decision,
            first_line_manager,
            second_line_manager,
            audit_trail,
            authorization_technical_name,
            authorization_description,
            authorization_valid_to,
            overall_send_status,
            current_round,
            delete_flag,
            create_by,
            create_time,
            update_by,
            update_time,
            alert_handle_status,
            invalid_bpo,
            system_role_id,
            #{maintenanceId},
            #{archiver}
        FROM user_access_review_alert;
    </insert>

</mapper>
